[submodule ".vim/pack/pack/start/vim-airline"]
	path = .vim/pack/pack/start/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule ".vim/pack/pack/start/syntastic"]
	path = .vim/pack/pack/start/syntastic
	url = https://github.com/vim-syntastic/syntastic.git
[submodule ".vim/pack/pack/start/vim-better-whitespace"]
	path = .vim/pack/pack/start/vim-better-whitespace
	url = https://github.com/ntpeters/vim-better-whitespace.git
[submodule ".vim/pack/pack/start/rust-vim"]
	path = .vim/pack/pack/start/rust-vim
	url = https://github.com/rust-lang/rust.vim.git
[submodule ".vim/pack/pack/start/vim-gutentags"]
	path = .vim/pack/pack/start/vim-gutentags
	url = https://github.com/ludovicchabant/vim-gutentags.git
[submodule ".vim/pack/pack/start/universal-ctags"]
	path = .vim/pack/pack/start/universal-ctags
	url = https://github.com/universal-ctags/ctags.git
[submodule ".vim/pack/pack/start/vimagit"]
	path = .vim/pack/pack/start/vimagit
	url = https://github.com/jreybert/vimagit.git
