# This is Git's per-user configuration file.
[user]
	name = Giles Cope
	email = gilescope@gmail.com
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[pager]
    branch = false
[diff]
    tool = vimdiff
[alias]
    b = branch
    cm = commit -v
[rebase]
	autostash = true
[pull]
	rebase = true
[core]
    # auto doesn't play well with vim plugins.
    autocrlf = input
	filemode = false
